<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/home.css">
  <title>Weather Forecasting</title>
</head>
<body>
  <nav>
    <div class="nav-container">
      <a class="nav-container-item" href="/">Home</a>
      <a class="nav-container-item" href="/cities">Cities</a>
      <a class="nav-container-item" href="/cities/Boulder/tables">Boulder</a>
      <a class="nav-container-item" href="/cities/Denver/tables">Denver</a>
      <a class="nav-container-item" href="/cities/Erie/tables">Erie</a>
      <a class="nav-container-item" href="/cities/Lafayette/tables">Lafayette</a>
      <a class="nav-container-item" href="/cities/Longmont/tables">Longmont</a>
      <a class="nav-container-item" href="/cities/Louisville/tables">Louisville</a>
      <a class="nav-container-item" href="/cities/Superior/tables">Superior</a>
      <a class="nav-container-item" href="/cities/Thornton/tables">Thornton</a>
    </div>
  </nav>
  <main></main>
  <footer></footer>
</body>
</html>
